@charset "UTF-8";

 @font-face 
 {font-family:'android';
 src:url(/fontes/idroid.otf) format('opentype');
 font-weight:normal;}
 
*{margin: 0px; padding: 0px;}
:root{
     --cor1: #044040;
     --cor2: #44F2E1;
     --cor3 :#42591E;
     --cor4 :#7CA621;
     --cor5: #7CA621;

     --font-padrao: Arial,verdana,Helvetica,sans-serif;
     --font-destaque:"Roboto", sans-serif;
     --font-android:'android'}
      
body{ background-color:#7ca62154;}

header{ background-color: var(--cor3);min-height: 150px; var(--font-android);padding: 40px; }

header>h1{font-family: var(--font-destaque); color:white; text-align: center; font-size: 4em; margin-bottom: 20px; text-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.76) } 

header>p{ color:white; text-align: center; font-family: var(--font-destaque); max-width: 500px; margin: auto;text-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.452) }

nav{ background-color:#42591E;height: 30px; padding: 20px;(0, 0, 0, 0.459) ;}
nav>a{color: white; font-family: var(--font-destaque); text-decoration: none; padding: 15px;
       transition-duration:0.1s;} 


nav>a:hover{background-color:#44F2E1; padding: 3px; border-radius: 3px; font-size:20px; color:black;
box-shadow: 1px 1px 3px #44f2e15e;}

main{  min-width:320px; max-width: 800px; margin: auto; padding: 20px; margin-bottom: 10px; 
      border-radius:3px 3px 5px 5px;}
     

main img { width: 100%; border-radius: 3px;}
main img.pequena{ max-width: 350px; display: block; margin: auto;}
main p{ line-height: 2em; text-indent: 30px;}
main a{ text-decoration: none; font-weight: bold; color: var(--cor5); background-color: var(--cor3);padding: 2px 6px;
border-radius: 2px;}
main a:hover{ text-decoration: underline; color: white;}

article>h1{ font-family: var(--font-destaque); color: var(--cor1); text-align: center; padding: 20px; font-size:30px; text-shadow: 2px 2px 0px #04404038}
article>h2{font-family: var(--font-destaque); padding: 20px; color: var(--cor1)}

article>p{ text-align: justify; font-family: var(--font-destaque); padding: 20px;}

aside{ background-color:#42591E;border-radius: 10px;  margin:10px; box-shadow: 3px 3px 6px; margin-top: 40px;}

aside>h3{text-align: center; padding: 10px; color:black;font-family: var(--font-destaque); font-size:25px; background-color: #44F2E1; margin: -10px -10px 0 px -10px ; border-radius: 10px 10px 0px 0px ;}

aside>p{margin:20px; text-align: justify; padding: 10px; font-family: var(--font-destaque);}

aside>ul{ list-style-position:inside; columns:2; list-style-type:'\2714\00A0\00A0'; padding: 40px; font-family: var(--font-padrao);font-weight: bold;color: white;}

.video{  
 padding: 20px; margin:0px -20px 30px -20px; position: relative;
 padding-bottom: 58%;
}

div.video>iframe{
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      
}
footer{ background-color:#42591E;}
footer>p{color: white; font-family: var(--font-destaque); text-align: center; padding: 20px;}